/* --color-background: #000240;
        --color-background-secondary: #00125D;
        --color-text: #fff;
        --color-primary: #3da8f5;
        --color-secondary: #005ea4;
        --color-accent: #002886;

        --font-size-ultra-small: 11px;
        --status-lightblue: #3da8f5;
        --status-yellow: #F4AB57;
        --status-orange: #F15025;
        --status-white: #fff;

        --table-darkborder: #00156C;
        --table-semidarkborder: #000240;
        --table-lightborder: #002886;
         */

:root:not(.theme-dark), .theme-dark:root {
    --tv-color-platform-background: #000240!important;
    --tv-color-pane-background: #000240!important;
    --tv-color-pane-background-secondary: #000240;
    --tv-color-toolbar-button-background-hover: #3da8f5;
    --tv-color-toolbar-button-background-secondary-hover: #3da8f5;
    --tv-color-toolbar-button-background-expanded: #005ea4;
    --tv-color-toolbar-button-text: #3da8f5;
    --tv-color-toolbar-button-text-hover: #005ea4;
    --tv-color-toolbar-button-text-active: #005ea4;
    --tv-color-toolbar-button-text-active-hover: #005ea4;
    --tv-color-item-active-text: #005ea4;
    --tv-color-toolbar-toggle-button-background-active: #3da8f5;
    --tv-color-toolbar-toggle-button-background-active-hover: #3da8f5;
}

.loading-indicator {
    background: green!important;
}